<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PlotAR.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B3D2C2BB1F722018009B73A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3D2C2D11F722019009B73A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3D2C2DC1F722019009B73A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
